@import "compass/utilities";
@import "compass/css3";

@import 'partials/buttons';
@import 'font-awesome';

@import "mixins";

body {
  font-size: 9pt;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

i:before {
  margin: 0 0.25em;
}

#container {
  margin: 0 auto;
  width: 740px;
  background-color: #666;
}

.tips {
  clear: both;
}

.face {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  img {
    width: 64px;
    height: 64px;
    border: 2px solid #fff;
    box-sizing: border-box;
    @include border-radius(64px);
  }
  @include border-radius(5px);

  .self & {
    float: right;
  }
}

.messages {
  display: inline-block;
  width: 740px - 64px - 20px - 40px - 40px - (64px + 20px);
  margin: 20px;
  margin-left: 0;
  margin-right: 20px + (64px + 20px);
  padding: 20px;
  text-align: left;
  background-color: #fff;
  position: relative;
  @include balloon-arrow($aspect: left, $color: #fff, $size: 10px, $position: 20px);
  @include border-radius(5px);

  .self & {
    margin-left: 20 + (64px + 20px);
    margin-right: 0;
    @include balloon-arrow($aspect: right, $color: #fff, $size: 10px, $position: 20px);
  }
}

textarea {
  display: block;
  width: 100%;
  height: 5em;
  border-color: #ddd;
}

.submit {
  float: left;
  display: block;
  text-align: left;
  margin-top: 20px;
}

.cancel button {
  float: right;
  display: block;
  text-align: right;
  margin-top: 20px;
}
