// refs http://laugh-raku.com/archives/3073
@mixin balloon-arrow($aspect: top, $position: 50%, $color: #fff, $size: 10px) {
  $border: 1px solid $color;

  &:after {
    content: '';
    position: absolute;
    border: $size solid transparent;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    @if $aspect == top {
      border-bottom-color: $color;
      border-top-width: 0;
      margin-left: -$size;
      top: -$size;
      left: $position;
    } @else if $aspect == bottom {
      border-top-color: $color;
      border-bottom-width: 0;
      margin-left: -$size;
      bottom: -$size;
      left: $position;
    } @else if $aspect == right {
      border-left-color: $color;
      border-right-width: 0;
      margin-top: -$size;
      right: -$size;
      top: $position;
    } @else if $aspect == left {
      border-right-color: $color;
      border-left-width: 0;
      margin-top: -$size;
      left: -$size;
      top: $position;
    }
  }
}
