---
title: mock of poteti
---

= stylesheet_link_tag "index"

#container

  .tips.self
    .face
      = image_tag 'hyoshida.png'
    .messages
      form
        textarea
        .submit
          span.button-dropdown data-buttons="dropdown"
            = link_to '#', class: 'button button-flat-primary button-rounded' do
              i.fa.fa-edit
              span 投稿する
              i.fa.fa-caret-down
            ul
              li
                = link_to 'メモとして投稿'
              li
                = link_to '記事として投稿'
              li
                = link_to '下書き'
              li.button-dropdown-divider
                = link_to 'プレビュー'
        .cancel
          button.button-flat.button-rounded キャンセル

  .tips
    .face
      = image_tag 'middleman.png'
    .messages
      p こんにちは世界

  .tips.self
    .face
      = image_tag 'hyoshida.png'
    .messages
      p test message 1
      p test message 2

  .tips.self
    .face
      = image_tag 'hyoshida.png'
    .messages
      p hello world.

  .tips
    .face
      = image_tag 'middleman.png'
    .messages
      p テストメッセージ
